body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: chocolate;
}

.timer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000;
    color: chocolate;
}
.box{
    display: flex;
    flex-direction: row;

}

.btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    margin:  5px ;
    border: none;
}

.startbt{

    background-color:green;
 
}

.stopbt{

    background-color:red;

}

.rst{

    background-color:gainsboro;

}


.startbt:hover , .stopbt:hover , .rst:hover{
    letter-spacing: .5rem;
    
}